<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cv-Deployment</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap_5.2.2.min.css') }}>
</head>
<body>
    <!-- * navbar -->
    <nav class="floating_btn d-flex flex-column justify-content-center h-100" id="navbar">
        <button class="btn_navigation" type="button" id="btn_landing_section" data-bs-toggle="tooltip" data-bs-placement="left" title="landing">
            <i class="fa-solid fa-flag fa-xl p-2"></i>
        </button>

        <button class="btn_navigation" type="button" id="btn_prediction_section" data-bs-toggle="tooltip" data-bs-placement="left" title="predict">
            <i class="fa-solid fa-fan fa-xl p-2"></i>
        </button>

        <button class="btn_navigation" type="button" id="btn_footer_section" data-bs-toggle="tooltip" data-bs-placement="left" title="footer">
            <i class="fa-solid fa-shoe-prints"></i>
        </button>

    </nav>

    <div class="landing_container">

        <div class="landing_content d-flex justify-content-center align-items-center">

            <div class="container d-flex flex-column justify-content-center align-items-center border border-white rounded-3 p-5 w-50">
            
                <p class="fs-2 text-light text-center">
                    Computer Vision Project
                </p>

                <p class="fs-4 text-light text-center">
                    CIFAR-10 Image Classification
                </p>

                <p class="fs-6 text-light mb-5 text-center">
                    <strong>Goldfarb-4</strong>
                </p>
                
                <button id="btn_explore" type="button" class="btn btn-outline-warning rounded-pill w-50">
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Explore
                </button>
            </div>
            
        </div>
    </div>
    

    <div class="content_container container-fluid">

        <div class="mt-5 container-lg bg-dark p-5 rounded-3">
            <div class="row">
                <div class="col-6">
                    <img src={{ url_for("static", filename='/images/app-display.jpg') }} class="img_fruits img_fruits_left">
                </div>
                <div class="col-5 d-flex flex-column justify-content-center text-white">
                    <p class="label_name_right h3">
                        Dataset
                    </p>
                    <div class="label_desc ms-3">
                        <p class="fs-6" style="text-align: justify;">
                            Aplikasi ini dibuat khusus untuk mendeteksi sebuah objek dari gambar yang diberikan. Adapun dataset yang digunakan 
                            untuk model klasifikasi gambar ini adalah CIFAR-10. Pada dataset CIFAR-1, terdapat 10 objek yang dapat diklasifikasi 
                            yaitu pesawat, mobil, burung, kucing, rusa, anjing, katak, kuda, kapal, dan truk. Untuk dapat menggunakan aplikasi ini, 
                            pengguna hanya mengunggah sebuah gambar dengan format 'JPG'. Hasil deteksi objek akan ditampilkan setelah pengguna 
                            mengunggah gambar tersebut.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="mt-2 container-lg bg-dark p-5 rounded-3 text-white">
            <div class="row">
                <div class="col-6 d-flex flex-column justify-content-center">
                    <p class="label_name_left h3">
                        Upload an Image
                    </p>
                    <div class="label_desc mt-3 ms-3">
                        <form class="d-flex flex-column" onsubmit="return false">
                            <i class="fa-solid fa-image fa-9x" id="uploadedImgPlaceholder"></i>
                            <img alt="Uploaded Img" id="uploadedImg">
                            
                            <div class="mb-3 mt-5">
                                <p class="fs-6">Please upload an image to predict</p>
                                <input class="form-control w-75" type="file" name="file" id="inputImg" accept=".jpg, .png, .jpeg" 
                                onchange="onImgSelected(event)" required>
                            </div>
                            
                        </form>
                    </div>
                </div>

                <div class="col-6 d-flex flex-column">
                    <p class="h3 label_name_right">
                        Prediction Result
                    </p>
                    <div class="label_desc mt-3">
                        <div class="spinner-border text-warning ms-5" role="status" id="predictLoad" style="width: 3rem; height: 3rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <i class="fa-solid fa-image fa-9x ms-3" id="predictIconPlaceholder"></i>
                        <p class="fs-4 ms-4 text-warning" id="predictionResTxt">Car</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <footer class="bg-dark text-center text-white mt-5 footer">
        
        <div class="mt-2 container-lg bg-dark p-5 rounded-3 text-white">
            <div class="row">
                <p class="h1">Team</p>
            </div>
            <div class="d-flex flex-column mt-5">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <h4>Gustana</h4>
                        <p>Universitas Atma Jaya Yogyakarta</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <h4>AYU</h4>
                        <p>Universitas Jawa dan Bali</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <h4>TONO</h4>
                        <p>Universitas Kalimantan</p>
                    </div>
                </div>
                
                <div class="row mt-4">
                    <div class="col-sm-6">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <h4>PUTRA</h4>
                        <p>Universitas Sulawesi</p>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <h4>PUTRI</h4>
                        <p>Universitas Kepulauan Nusa, Maluku dan Papua</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright: Gustana <strong>Goldfarb-4</strong>
        </div>
    </footer>
    
    <script src={{ url_for('static', filename='/js/jquery_3.6.1.min.js') }}></script>
    <script src={{ url_for('static', filename='/js/bootstrap_5.2.2.min.js') }}></script>
    <script src={{ url_for('static', filename='/js/scroll_reveal_4.0.0.js') }}></script>
    <script src={{ url_for('static', filename='/js/client_side.js') }}></script>
    <script src="https://kit.fontawesome.com/ac3d771995.js" crossorigin="anonymous"></script>
</body>
</html>