<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASK-PRO</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css' ) }}>
    <link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap_5.2.2.min.css' ) }}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">

</head>

<body>
    <!-- * navbar -->
    <!-- <nav class="floating_btn d-flex flex-column justify-content-center h-100" id="navbar">
        <button class="btn_navigation" type="button" id="btn_landing_section" data-bs-toggle="tooltip"
            data-bs-placement="left" title="landing">
            <i class="fa-solid fa-flag fa-xl p-2"></i>
        </button>

        <button class="btn_navigation" type="button" id="btn_prediction_section" data-bs-toggle="tooltip"
            data-bs-placement="left" title="predict">
            <i class="fa-solid fa-fan fa-xl p-2"></i>
        </button>

        <button class="btn_navigation" type="button" id="btn_footer_section" data-bs-toggle="tooltip"
            data-bs-placement="left" title="footer">
            <i class="fa-solid fa-shoe-prints"></i>
        </button>

    </nav> -->

    <div class="landing_container p-5">

        <div class="row">
            <img id="team_logo" src="../static/images/team_logo.webp" alt="">
        </div>

        <div class="d-flex flex-column justify-content-center h-100">
            <div class="row">
                <div class="col-6">
                    <p class="h4">Solution of your</p>
                    <p class="h1 text-primary">Beauty Brand Confusion</p>
                    <p class="h5 mt-3">Have you ever confused to pick which brand to buy for your beauty treatment?</p>
                    <p class="h5">Now, you don't have to worry anymore</p>
                    <p class="h5">We provide you the best brand according to the buyers</p>

                    <!-- <button class="mt-5 btn btn-info w-25">Explore</button> -->
                </div>
                <div class="col-6 d-flex justify-content-end" style="margin-top: -80px;">
                    <img class="" id="landing_img" src="../static/images/landing.webp" alt="">
                </div>
            </div>
        </div>

    </div>

    <div class="brand_pick_section p-5">
        <div class="row">
            <div class="col-7">
                <p class="h5">Let's get your best cosmetic brand</p>
                <div class="mt-3">
                    <select class="form-select w-50" id="brand_select">
                        <option value="" selected disabled>Select a Brand</option>
                        <option value="scarlet">Scarlett Whitening</option>
                        <option value="wardah">Wardah Cosmetic</option>
                        <option value="mustika">Mustika Ratu</option>
                    </select>
                </div>
            </div>
            <div class="col-4 sentiment_col" style="display: none;">
                <div class="row">
                    <div class="col-8">
                        <img id="brand_img_prediction" class="justify-content-end">
                    </div>
                    <div class="col-4">
                        <p class="h5">Sentiment</p>
                        <p class="h6" id="positive_sentiment"></p>
                        <p class="h6" id="negative_sentiment"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="try_comment_section p-5">
        <p class="h5">Let's try a comment</p>
        <div class="mt-3">
                <div class="mb-3 w-25">
                  <textarea type="text" class="form-control" id="comment"></textarea>
                </div>

                <button type="button" class="btn btn-primary" id="predict_comment">Submit</button>
        </div>
    </div>


    <footer class="bg-dark text-center text-white footer">

        <div class="container-lg bg-dark p-5 rounded-3 text-white">
            <div class="row">
                <p class="h1">Team</p>
            </div>
            <div class="d-flex flex-column mt-5">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <p class="h4">Gustana</p>
                        <p>Universitas Atma Jaya Yogyakarta</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <p class="h4">Santriana</p>
                        <p>Universitas Gajah Mada</p>
                    </div>
                    <div class="col-sm-4">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <p class="h4">Osha</p>
                        <p>Uiversitas Amikom Purwokerto</p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-6">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <p class="h4">Yesika</p>
                        <p>Universitas Sebelas Maret</p>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <p class="h4">Wahyu</p>
                        <p>Universitas Gajah Mada</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© Amigo 2022</div>
    </footer>

    <script src={{ url_for('static', filename='/js/jquery_3.6.1.min.js' ) }}></script>
    <script src={{ url_for('static', filename='/js/bootstrap_5.2.2.min.js' ) }}></script>
    <script src={{ url_for('static', filename='/js/scroll_reveal_4.0.0.js' ) }}></script>
    <script src={{ url_for('static', filename='/js/client_side.js' ) }}></script>
    <script src="https://kit.fontawesome.com/ac3d771995.js" crossorigin="anonymous"></script>
</body>

</html>